<div class="container">
        <h1>Orientação a objeto</h1>
    
        <p>Como eu tinha aprendido orientação a objeto no Java, tudo é bem similar. O conceito básico começa com a criação de uma classe. Classes foi introduzida no Javascript a partir do ECMAScript 6 (em 2015). Ao criar uma classe, criamos os atributos da classe. Atributos, propriedade e campo para o Javascript é a mesma coisa (apenas nomenclaturas diferentes). E inclusive podemos entender que são também variáveis, porém variáveis ligadas aos objetos.</p>
    
        <p><b>Propriedades</b> definem um objeto e conseguimos acessar as variáveis do objeto apenas com o nomeDoObjeto.nomeDaPropriedade. Já os <b>métodos</b> são iguais funções, porém também ligadas aos objetos. Acessamos com nomeDoObjeto.nomeDoMetodo(parametros).</p>
    
        <p>Os métodos em JS esperam um ´return´. Caso não coloquemos nenhum return e chamarmos o método, teremos um resultado como ´undefined´.</p>
    
        <pre><code [highlight]='oo1'></code></pre>
    
        <p>Uma coisa nova, para mim, sobre <b>return</b> é o chamado <b>Early Return</b>. Ao invés de passar 'ifs' como condicionais para validar alguma coisa, passamos um if do que não queremos que aconteça. E ai colocamos um return sem nada mais, apenas dizendo 'se isso acontecer, pare a execução do método'. Isso acontece porque o return tem o poder de finalizar o método. Uma vez que o método chega no return, o método é concluido. Por isso também só é possível ter um return por método.</p>
    
        <pre><code [highlight]="oo2"></code></pre>
    
        <pre><code [highlight]='oo3'></code></pre>

</div>
