<h1>Objetos e Arrays</h1>

<p>Podemos dizer que praticamente tudo no Javascript é um objeto. Os próprios <b>valores primitivos</b> são objetos.</p>

<p>Isso quer dizer que todos os valores tem propriedades. Por exemplo String e Arrays tem a propriedade <code>length</code>. Numbers tem a propriedaed <code>MAX_VALUE</code>. A exceção é para os valores null e undefined. Esses não tem propriedades. </p>

<p><b>Algo que me causou bastante confusão</b>: tem duas formas de acessar propriedade de um objeto em Javascript. Com ponto e com colchetes</p>

<pre><code [highlight]='codeArrayObj1'></code></pre>
