<p>Reduce Method JS</p>

<p>É simples mas pode parecer confuso.</p>

<p>O Reduce faz um for em um array. Esse for pega o primeiro item do array e soma com o segundo item do array, formando assim um acumulador, uma soma dos itens do array.</p>

<p>Exemplo</p>

<pre><code [highlight]='codeReduce1'></code></pre>

<p>Ok, mas só serve para fazer essa soma?</p>

<p>Nesse caso acima, transformamso um array em um número. Podemos transformar o array em qualquer coisa - string ou objeto, por exemplo.</p>

<p>Vamos transformar um array em uma string</p>

<pre><code [highlight]='codeReduce2'></code></pre>

<p>Ou vamos transformar um array em um objeto</p>

<pre><code [highlight]='codeReduce3'></code></pre>
