<div class="row">

  <div class="col-12 mb-4">
    <div class="card" style="min-height: 50px;">
      <div  class="card-header"><b>Porque Surgiu?</b></div>
      <div class="card-body">
        <p class="card-text">
          O Javascript, que nasceu como <b>LiveScript</b> e mudou de nome pegando carona no marketing do Java, surgiu com o <b>intuito inicial de validar formulários HTML</b>. Antes do JS as páginas web eram feitas apenas com HTML. O JS trouxe a dinâmica, deu mais vida aos sites. Isso era 1995. O primeiro navegador web (o Mosaic) tinha surgido apenas 2 anos antes.
        </p>
      </div>
    </div>
  </div>

  <div class="col-sm-4">
    <div class="card">
      <div class="card-header">Conceitos Básicos</div>
      <div class="card-body">
        <p class="card-text">
          Comecei com o módulo básicão do curso em video. Depois fiz um curso, ainda básico, na Alura. E pesquisei bastante material. Eu tinha feito diversas anotações, que fiz a besteira de não colocar no git e meu antigo PC acabou indo pro espaço com essas anotações.
      </div>
    </div>
  </div>

  <div class="col-sm-4">
    <div class="card">
      <div class="card-header">Arrays e Objetos</div>
      <div class="card-body">
        <p class="card-text">Anotação de Pontos e Colchetes..</p>
        <a routerLink='/javascript/array-objeto' class="btn btn-primary">Acessar</a>
      </div>
    </div>
  </div>

  <div class="col-sm-4">
    <div class="card">
      <div class="card-header">Orientação à Objetos</div>
      <div class="card-body">
        <p class="card-text">Trabalhando Orientado a Objetos no Javascript.</p>
        <a routerLink='/javascript/oo' class="btn btn-primary">Acessar</a>
      </div>
    </div>
  </div>

  <div class="col-sm-4">
    <div class="card">
      <div class="card-header">Crud</div>
      <div class="card-body">
        <p class="card-text">Utilizando fetch / fazendo requisições</p>
        <a routerLink='/javascript/crud' class="btn btn-primary">Acessar</a>
      </div>
    </div>
  </div>

  <div class="col-sm-4">
    <div class="card">
      <div class="card-header">Crud</div>
      <div class="card-body">
        <p class="card-text">Entrando no detalhe do Reduce, um loop que utilizamos para transformar arrays em outras coisas</p>
        <a routerLink='/javascript/reduce' class="btn btn-primary">Acessar</a>
      </div>
    </div>
  </div>

</div>
