<div class="row">

  <div class="col-12 mb-4">
    <div class="card" style="min-height: 50px;">
      <div  class="card-header"><b>Porque Surgiu?</b></div>
      <div class="card-body">
        <p class="card-text">
          O Javascript, que nasceu como <b>LiveScript</b> e mudou de nome pegando carona no marketing do Java, surgiu com o <b>intuito inicial de validar formulários HTML</b>. Antes do JS as páginas web eram feitas apenas com HTML. O JS trouxe a dinâmica, deu mais vida aos sites. Isso era 1995. O primeiro navegador web (o Mosaic) tinha surgido apenas 2 anos antes.
        </p>
      </div>
    </div>
  </div>

  <div class="col-sm-4">
    <div class="card">
      <div class="card-header">Conceitos Básicos</div>
      <div class="card-body">
        <p class="card-text">
          O conceito dos tipos primitivos, métodos como
          <b>Map, Filter e Reduce</b>, o uso do
          <b>This com Call, Apply e Bind</b>, o que é <b>Callback</b> estão nos
          meus aprendizados anteriores (em 2020).
        </p>
        <a href="#" class="btn btn-primary">Acessar</a>
      </div>
    </div>
  </div>

  <div class="col-sm-4">
    <div class="card">
      <div class="card-header">Manipulando o DOM</div>
      <div class="card-body">
        <p class="card-text">Utilizando parentNode, childNode e outros.</p>
        <a href="#" class="btn btn-primary">Acessar</a>
      </div>
    </div>
  </div>

  <div class="col-sm-4">
    <div class="card">
      <div class="card-header">Orientação à Objetos</div>
      <div class="card-body">
        <p class="card-text">Trabalhando com objetos no Javascript.</p>
        <a routerLink='/javascript/oo' class="btn btn-primary">Acessar</a>
      </div>
    </div>
  </div>
</div>
