h1,
h2,
h3,
h4,
h5,
h6 {
  margin: 8px 0;
}

html,
body {
  margin: 0;
  font-family: Roboto, "Helvetica Neue", sans-serif;
}

.card {
  min-height: 200px;
}

pre {
  display: flex;
  word-wrap: break-word;

  code {
    flex: 1;
    line-height: 1.5em;
    font-size: 13px;
    min-height: 100%;
    padding: 1em 1.2em;
  }
}

.hljs {
  margin: 0 1em;
  padding: 10px;
  border: 1px solid gray;
  border-radius: 4px;
  transition: border ease 1s;
}

@media (min-width: 1200px) {
  .container { 
    max-width: 100% !important;
  }
}